nav 
  ul 
    each country in countries
      li 
        a(href=country.path class=currentPathClass(country.path, currentPath))
          img.flag(src=`/images/${country.flag}`
            alt=country.alt
            title=country.title)